<div class="info-container">
  <section>
    <h2>CONTACTOS</h2>
    <br>

    <div class="contact-item">
      <img src="https://icons.veryicon.com/png/o/miscellaneous/yunrenui-original-ui-of-fool-cloud/phone-circle.png" alt="Teléfono">

    </div>

    <div class="contact-item">
      <img src="https://images.icon-icons.com/916/PNG/512/Mail_icon-icons.com_71849.png" alt="Correo">

    </div>

    <div class="contact-item">
      <img src="https://img.icons8.com/m_outlined/512/github.png" alt="GitHub">
      <a href="https://github.com/Dhomochevsk" target="_blank">github.com/Dhomochevsk</a>
    </div>

    <div class="contact-item">
      <img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="LinkedIn">
      
    </div>
    
  </section>
</div>
