<div class="info-container">
  <section>
    <h2>💼 Experiencia Laboral</h2>
    <br>

    <div class="experience-item-box">
      <img src="assets/icons/recep.png" alt="Atención al Cliente">
      <div>
        <h3>Atención al Cliente</h3>
        <p>
          Desempeñé funciones en el área de atención al cliente brindando asistencia personalizada, gestión de reclamos,
          seguimiento postventa y soporte general. Me enfoqué en generar confianza y resolver problemas con eficacia,
          priorizando la satisfacción del usuario en cada interacción.
        </p>
        <p><strong>Teléfono de contacto:</strong> +593 987 654 321</p>
      </div>
    </div>

    <div class="experience-item-box">
      <img src="assets/icons/tec.png" alt="Servicio Técnico">
      <div>
        <h3>Servicio Técnico</h3>
        <p>
          Responsable del diagnóstico y reparación de computadoras, periféricos y redes. Realicé mantenimiento preventivo y correctivo,
          instalación de software, y recuperación de datos. Implementé soluciones efectivas reduciendo tiempos de inactividad.
        </p>
        <p><strong>Teléfono de contacto:</strong> +593 912 345 678</p>
      </div>
    </div>

    <div class="experience-item-box">
      <img src="assets/icons/TI.webp" alt="Área de TI">
      <div>
        <h3>Área de TI</h3>
        <p>
          Participé activamente en la administración de infraestructura tecnológica empresarial. Configuración de redes,
          gestión de usuarios y políticas de seguridad, soporte técnico de segundo nivel y automatización de procesos internos.
        </p>
        <p><strong>Teléfono de contacto:</strong> +593 901 112 233</p>
      </div>
    </div>
  </section>
</div>
