<!-- Fondo pantalla -->
<img src="assets/pantalla2.png" class="fixed-top-left" alt="Pantalla">

<!-- Contenedor que va ENCIMA -->
<div class="left-overlay">
  <app-info *ngIf="currentComponent === 'info'"></app-info>
  <app-skills *ngIf="currentComponent === 'skills'"></app-skills>
  <app-projects *ngIf="currentComponent === 'projects'"></app-projects>
  <app-contacts *ngIf="currentComponent === 'contacts'"></app-contacts>
</div>

<!-- Botón para cambiar componente -->
<!-- <button class="fixed-top-right-button" >Cambiar componente</button>-->


<button class="buttonRound buttoninfo" (click)="infoComponent()"></button>
<button class="buttonRound buttonskills" (click)="skillsComponent()"></button>
<button class="buttonRound buttonprojects" (click)="projectsComponent()"></button>
<button class="buttonRound buttoncontact" (click)="contactComponent()"></button>
<img src="assets/boton2.png" class="fixed-image-right" alt="Base">

<!-- Otros elementos fijos -->
<!-- <img src="assets/base.png" class="fixed-image" alt="Base">-->
<!-- <img src="assets/tubo.png" class="fixed-image" alt="Tubo"> -->
<img [src]="imagenActual" class="fixed-image" alt="Base animada">


<router-outlet></router-outlet>
