<div class="info-container">

  <section>
    <h2>Habilidades Técnicas</h2>
    <br>

    <div class="skills-grid">

      <div class="skill-item">
        <a href="https://www.php.net/" target="_blank">
          <img src="assets/icons/php.png" alt="PHP" title="PHP">
          <span>PHP</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
          <img src="assets/icons/css.webp" alt="CSS" title="CSS">
          <span>CSS</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://www.java.com/" target="_blank">
          <img src="assets/icons/java.png" alt="Java" title="Java">
          <span>Java</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
          <img src="assets/icons/javascribt.webp" alt="JavaScript" title="JavaScript">
          <span>JavaScript</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
          <img src="assets/icons/html.png" alt="HTML" title="HTML">
          <span>HTML</span>
        </a>
      </div>



      <div class="skill-item">
        <a href="https://www.python.org/" target="_blank">
          <img src="assets/icons/python.webp" alt="Python" title="Python">
          <span>Python</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://angular.io/" target="_blank">
          <img src="assets/icons/angular.webp" alt="Angular" title="Angular">
          <span>Angular</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://www.mysql.com/" target="_blank">
          <img src="assets/icons/mysql.png" alt="MySQL" title="MySQL">
          <span>MySQL</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://www.adobe.com/ec/products/photoshop/landpa.html?sdid=Z2G1FN98&mv=search&mv2=paidsearch&ef_id=EAIaIQobChMI3oPQjIeNjgMVAJ9aBR2R1QTHEAAYASAAEgJkOfD_BwE:G:s&s_kwcid=AL!3085!3!720011146276!p!!g!!photoshop!21878109323!170974852218&gad_source=1&gad_campaignid=21878109323&gbraid=0AAAAADxybVoupaJhAq62xLd3Y_6AStad4&gclid=EAIaIQobChMI3oPQjIeNjgMVAJ9aBR2R1QTHEAAYASAAEgJkOfD_BwE" target="_blank">
          <img src="assets/icons/photoshop.png" alt="Photoshop" title="Photoshop">
          <span>MySQL</span>
        </a>
      </div>

      <div class="skill-item">
        <a href="https://www.canva.com/" target="_blank">
          <img src="assets/icons/canva.png" alt="Canva" title="Canva">
          <span>Canva</span>
        </a>
      </div>

    </div>
  </section>
</div>
