<div class="info-container">
  <br><br><br>

  <h1>¡Hola, internauta! <strong>Soy Mauricio.</strong></h1>

  <p>
    Programador y desarrollador web enfocado en crear soluciones funcionales con diseños visualmente atractivos, combinando estética y usabilidad para ofrecer experiencias digitales de calidad.
  </p>

  <br><br><br><br><br><br>

  <h2>Sobre mí</h2>
  <p>
    Soy un desarrollador de software que actualmente estudia en la Universidad Técnica de Ambato, con conocimientos en desarrollo de software y experiencia práctica en el área de TI, especialmente en soporte técnico.
    <br><br>
    Mi enfoque principal es el desarrollo Front-end, con experiencia en Angular, React y WordPress. Me considero una persona proactiva, con ganas de aprender constantemente y mejorar mis habilidades. Me adapto con facilidad a distintos equipos y entornos de trabajo.
    <br><br>
    Busco ganar experiencia aportando todo mi esfuerzo y compromiso en cada proyecto en el que participo.
  </p>

  <br><br><br><br><br><br>

  <section>
    <h2>Educación</h2>
    <ul>
      <li><strong>Ingeniería en Software</strong> – Universidad Técnica de Ambato, 2019 - 2026</li>
    </ul>
  </section>

  <section>
    <h2>Licencias y Certificaciones</h2>
    <ul>
      <li>
        <strong>
          <a href="assets/ccertificado mantenimiento.jpg" target="_blank" rel="noopener noreferrer">
            Mantenimiento de computadores y redes estructuradas (2021)
          </a>
        </strong>
      </li>
      <li>
        <strong>
          <a href="https://www.credly.com/badges/6b22c6fe-671a-4abf-b3a4-939ad4349f83" target="_blank" rel="noopener noreferrer">
            Python Essentials 2 – CISCO (2025)
          </a>
        </strong>
      </li>
    </ul>
  </section>

  <br><br>
</div>

